.without-quote {
    background: url('/icon-71ef738ef61679c2e7294bd368415784.svg') blue repeat-y fixed;
}

.single-quote {
    background: url('/icon-71ef738ef61679c2e7294bd368415784.svg');
}

.double-quote {
    background: url('/icon-71ef738ef61679c2e7294bd368415784.svg');
}

.without-slash {
    background: url('icon-71ef738ef61679c2e7294bd368415784.svg');
}

.multiple {
    background-image: url('/icon-71ef738ef61679c2e7294bd368415784.svg'), url('/icon-71ef738ef61679c2e7294bd368415784.svg');
}

.base64 {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACw=);
}

.not-found-file {
    background: url('/not-found-file.png');
}
