.without-quote {
    background: url(/icon.svg) blue repeat-y fixed;
}

.single-quote {
    background: url('/icon.svg');
}

.double-quote {
    background: url("/icon.svg");
}

.without-slash {
    background: url('icon.svg');
}

.multiple {
    background-image: url('/icon.svg'), url('/icon.svg');
}

.base64 {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACw=);
}

.not-found-file {
    background: url('/not-found-file.png');
}
